.NavBar-brand:hover {
  opacity: 0.8;
}
.navbar-dark .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.nav-item .dropdown-menu {
  background: #000000;
  border: 2px solid rgb(215, 215, 215);
}

.nav-item .dropdown-item {
  color: #ffffff;
}

.nav-item .dropdown-item:hover {
  background: #ffffff;
}
