.NavBar-brand:hover {
  opacity: 0.8;
}
.navbar-dark .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.nav-item .dropdown-menu {
  background: #343a40;
  border: none;
}

.nav-item .dropdown-item {
  color: #ffffff;
}

.nav-item .dropdown-item:hover {
  background: #ffc107;
}
